.photo-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    .single-item {
        border: 2px solid $border-color;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        .single-item-header {
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                color: $danger-color;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .item-content {
            display: flex;
            position: relative;
            justify-content: center;
                .delete-div:hover {
                    opacity: 1;
                }

                .delete-div {
                    position: absolute;
                    background-color: rgba($color: $danger-color, $alpha: 0.1);
                    z-index: 500;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    cursor: pointer;
                    p {
                        color: $danger-color;
                        font-weight: 600;
                    }
                }            
                                        
            img {
                    align-self: center;
                    max-width: 100%;
            }
        }
    }

    .empty-info {
        margin: 0 auto;
    }
}