header {
    border-bottom: 2px solid $border-color;
    display: flex;
    align-items: center;

    .round-div {
        width: 33px;
        height: 33px;
        background: black;
        @include border-radius(100px);
        margin: 0 5px;
    }
}

@media screen and (max-width: 768px) {
    header{
        justify-content: center;
    .round-div {
        display: none;
    }}
}