.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-content: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    .new-btn {
        margin: 20px 0;
        color: $nice-color;
        font-size: 115%;
        padding: 10px 30px;
        border: 2px solid $nice-color;
        text-transform: uppercase;
        @include border-radius(7px);
    }
}

@media screen and (max-width: 768px) {
    .main {
        .new-btn {
            width: 100%;
        }
    }
}